<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inventario</title>
</head>
<body>
    <div id="contedor" class="ml-8 mt-6">
        <h1 class="text-4xl font-extrabold dark:text-white">Panel de Gestión de Pedidos</h1>
        <div class="flex mt-3 space-x-3">
            <!-- Esta tarxeta dará acceso á compoñente ENGADIR -->
            <div id="guardar" class="bg-lime-500 rounded-md w-36 h-11">
                <p class="mt-2 ml-3 text-white">Guardar Cambios</p>
            </div>
            <!-- Esta tarxeta dará acceso á compoñente CONSULTAR -->
            <a href="formulario alta.html" class="bg-sky-700 rounded-md w-36 h-11">
                <button id="nueva" type="button" class="mt-2 ml-4 text-white">
                    Añadir Paquete
                </button>
            </a>
        </div>
    </div>
    <br>
    <div class="ml-8">
        <table class="p-2.5 pt-2 pb-2 border-collapse w-11/12 justify-center">
            <tr class="bg-slate-400 border-collapse">
                <th class="px-4 py-2 border text-center">Fecha/hora</th>
                <th class="px-4 py-2 border text-center">Empleado</th>
                <th class="px-4 py-2 border text-center">Descripcion</th>
                <th class="px-4 py-2 border text-center">SN</th>
                <th class="px-4 py-2 border text-center">Compañia Transporte</th>
                <th class="px-4 py-2 border text-center">Track</th>
                <th class="px-4 py-2 border text-center">Tipo de Producto</th>
                <th class="px-4 py-2 border text-center">Origen</th>
                <th class="px-4 py-2 border text-center">Destino</th>
                <th class="px-4 py-2 border text-center">Minando</th>
                <th class="px-4 py-2 border text-center">Acciones</th>
            </tr>
            {% for paquete in paquetes %}
                <tr>
                    <td class="px-4 py-2 border text-center">2024-12-04 14:52</td>
                    <td class="px-4 py-2 border text-center">Lidia Blanco Villasuso</td>
                    <td class="px-4 py-2 border text-center">Descripcion 1</td>
                    <td class="px-4 py-2 border text-center">407-1558820-3731552</td>
                    <td class="px-4 py-2 border text-center">Correos Express</td>
                    <td class="px-4 py-2 border text-center">Si</td>
                    <td class="px-4 py-2 border text-center">E-Commerce</td>
                    <td class="px-4 py-2 border text-center">España</td>
                    <td class="px-4 py-2 border text-center">Hosting</td>
                    <td class="px-4 py-2 border text-center">True</td>
                    <td class="px-4 py-2 border text-center"><a href="formulario mod.html"><button type="button" id="mod">📝</button></a>|<button type="button" id="eliminar" onclick="eliminar()">🗑️</button></td>
                </tr>
            {% endfor %}
            <tr>
                <td class="px-4 py-2 border text-center">2019-12-04 14:52</td>
                <td class="px-4 py-2 border text-center">Lidia Blanco Villasuso</td>
                <td class="px-4 py-2 border text-center">Descripcion 2</td>
                <td class="px-4 py-2 border text-center">407-1558820-3731552</td>
                <td class="px-4 py-2 border text-center">Correos Express</td>
                <td class="px-4 py-2 border text-center">Si</td>
                <td class="px-4 py-2 border text-center">E-Commerce</td>
                <td class="px-4 py-2 border text-center">España</td>
                <td class="px-4 py-2 border text-center">Hosting</td>
                <td class="px-4 py-2 border text-center">True</td>
                <td class="px-4 py-2 border text-center"><button type="button" id="mod">📝</button>|<button type="button" id="eliminar">🗑️</button></td>
            </tr>
        </table>
    </div>
    <script src="index.js"></script>
</body>
</html>